{% extends "base_generic.html" %}
{% load manager_filter %}

{% block context %}
{{ user }}
    {% for book in books %}

<!--Book information section-->
        <a href="#"><h3>{{ book.title }}</h3></a> <!--TODO: Add book detail page.-->
        <h4>{{ book.date }}</h4><br>
        <h4>{{ book.summary }}</h4>

    <!--Rates for the book.-->
    <span style="text-align: left">
        {% for i in stars_num %}
            {% if i <= book.rate_stars_num %}
                <a href="{% url 'add-rate-book' id=book.id rate=i %}"><span class="fa fa-star fa-2x checked"></span></a>
            {% else %}
                <a href="{% url 'add-rate-book' id=book.id rate=i %}"><span class="fa fa-star fa-2x"></span></a>
            {% endif %}
        {% endfor %}
    </span>
    <span style="font-size: 30px; padding-left: 15px">{{ book.users_rate_score }}</span>


<!--Comment section-->
        <h4><strong>Comments {{ book.comments_count }}:</strong></h4>
        {% for comment in book.comments.all %}
             <h5>{{ comment.text }}</h5>
        {{ comment.author }}  {{ comment.date }}
        <a href="{% url 'add-like-comment' id=comment.id %}">
            <span>Likes: {{ comment.likes }}</span>
        </a>
        {% endfor %}
        <hr>
    <!--TODO: Likes for the comment-->
    {% endfor %}
{% endblock %}